body {
    font-family: Arial, sans-serif;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
body{
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMQCOYX9MIvOS69pTLitI4D3c20TiYwkHawQ&s);
 background-size: contain;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
    color: white;
}